*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.custom-shape-divider-bottom-1690393951 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1690393951 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 223px;
}

.custom-shape-divider-bottom-1690393951 .shape-fill {
    fill: #3865AF;
}

button{
    width: 100px;
    margin:25px 5px;
    padding:10px;
    border-radius: 5px;
    background-color: #3865AF;
    color: white;
}